<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        <target name='jsonFile' xsi:type='File' fileName='c:\temp\log-${shortdate}.json'>
            <layout type='JsonLayout'>
                <attribute name='Level' layout='${level:upperCase=true}' />
                <attribute name='Time' layout='${longdate}' />
                <attribute name='EventID' layout='${event-properties:item=EventId_Id}' />
                <attribute name='Detail' encode='false'>
                    <layout type='JsonLayout'>
                        <attribute name='Type' layout='${exception:format=toString}' />
                        <attribute name='Request' layout='${aspnet-request}' />
                        <attribute name='Message' layout='${message}' />
                        <attribute name='Exception' layout='${exception:format=toString}' />
                        <attribute name='InnerException'
                                   layout='${exception:format=:innerFormat=Message:MaxInnerExceptionLevel=2:InnerExceptionSeparator=}' />
                    </layout>
                </attribute>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Warn" writeTo="jsonFile" />
    </rules>
</nlog>